# compiled object files
*.a
*.o

# executable files
*.out

# macOS files
*.DS_Store

# object files directory
obj/

# executable files directory
bin/

# temporary directory
tmp/
temp/

# cmake build directory
build/

# visual studio code directory
.vscode/
